---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Experiment-react</title>
  </head>
  <body>
    <script
      crossorigin="anonymous"
      src="//unpkg.com/react-scan/dist/auto.global.js"></script>

    <script src="@components/experiments/page-react-extension/extension.ts"
    ></script>

    <script
      is:inline
      crossorigin="anonymous"
      src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script
      is:inline
      crossorigin="anonymous"
      src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"
    ></script>

    <script is:inline>
      {
        const App = () => {
          const [count, setCount] = React.useState(0);
          const [count2, setCount2] = React.useState(0);
          const [count3] = React.useState(0); // Don't modify it

          React.useEffect(() => {
            const timer = setInterval(() => {
              setCount((c) => c + 1);
              setCount2((c) => c + 1);
            }, 1000);

            return () => clearInterval(timer);
          }, []);

          return React.createElement("div", null, `Count: ${count}`);
        };
        window.ElementToRender = React.createElement(App);
      }
    </script>

    <button
      onclick="ReactDOM.createRoot(document.getElementById(`node`)).render(ElementToRender);this.disabled=true;"
      >Click me to render react node (createRoot)</button
    >

    <div id="node"></div>

    <button
      onclick="ReactDOM.render(ElementToRender, document.getElementById(`legacy`));this.disabled=true;"
      >Click me to render react node (legacy)</button
    >

    <div id="legacy"></div>

    <div>Open your console</div>

    <script src="@components/experiments/page-react-extension/metadata.js"
    ></script>
  </body>
</html>
