---
// @ts-expect-error
import { CustomPragma } from "@components/experiments/page-react-extension/stack/CustomPragma";
import Analytics from "@components/Analytics.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Experiment-react</title>
  </head>
  <body>
    <script src="@components/experiments/page-react-extension/extension.js"
    ></script>

    <script is:inline>
      addEventListener("error", (event) => {
        console.error("Error", { event, error: event.error });
      });
    </script>

    <CustomPragma client:only />

    <Analytics />

    <script>
      import { startClickListening } from "@components/experiments/page-react-extension/stack/click-listener";
      startClickListening();
    </script>
  </body>
</html>
