---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Experiment-react</title>
  </head>
  <body>
    <ul>
      <li><a href="./cdn">React imported from CDN</a></li>
      <li><a href="./npm">React imported from npm</a></li>
      <li>
        <a href="./npm-18-legacy">React imported from npm (no concurrent)</a>
      </li>
    </ul>
  </body>
</html>
