---
import Page from '@layouts/Page.astro';
---

<Page title="React timings" description='Explore timings of different life cycles with the concurrent & legacy renderers'>

    <p>(Open your dev tools)</p>

    <div class="content">
        <div id="switcher"></div>
        <hr />
        <div id="root"></div>
    </div>

    <style is:global>
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #root {
            display: contents;
        }

        .grow {
            align-self: stretch;
        }


        .content :is(button, a) {
            background: transparent;

            border: 1px solid rgb(36, 36, 36);
            border-radius: 4px;
            margin-inline: 1px;

            cursor: pointer;

            &:hover {
                background: #0001;
            }
            &:active {
                background: #0002;
            }
        }

        .content hr {
            align-self: stretch;
            margin-inline: 0;
            margin-block: 1em;
        }
    </style>

    <script src="@components/page-react-timings/index.tsx"></script>
</Page>
