---
import Default from "@astrojs/starlight/components/PageTitle.astro";

import getReadingTime from "reading-time";

import { getCreatedDate } from "@components/get-posts";

const readingTime = getReadingTime(Astro.locals.starlightRoute.entry.body);

const createdDate = getCreatedDate(Astro.locals.starlightRoute.entry);
---

<Default />

{
  // Only display the reading time & last updated when it is a doc
  Astro.locals.starlightRoute.entry.data.template === "doc" ? (
    <p>
      {readingTime.text}
      {createdDate ? ` • ${createdDate}` : ""}
    </p>
  ) : null
}
