---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/PageTitle.astro';

import getReadingTime from "reading-time";

const readingTime = getReadingTime(Astro.props.entry.body)

// TODO: add created at time
---

<Default {...Astro.props}></Default>

<p>{readingTime.text} • Last updated {new Date(Astro.props.entry.data.lastUpdated).toLocaleDateString('en-US', { year: "numeric", month: "long", day: "numeric" })}</p>

