---
import { render } from "astro:content";

import Default from "@astrojs/starlight/components/PageTitle.astro";

import { getCreatedDate, getTagsHtml } from "@components/get-posts";

const { remarkPluginFrontmatter } = await render(
  // @ts-expect-error – this works, but for some reasons, it doesn’t seem to be compatible at the type level
  Astro.locals.starlightRoute.entry,
);

const createdDate = getCreatedDate(Astro.locals.starlightRoute.entry);
const tags = getTagsHtml(Astro.locals.starlightRoute.entry);
---

<Default />

{
  // Only display the reading time & last updated when it is a doc
  Astro.locals.starlightRoute.entry.data.template === "doc" ? (
    <>
      <p>
        {remarkPluginFrontmatter.readingTime.displayedText}
        {createdDate ? ` • ${createdDate}` : ""}
      </p>
      {tags ? (
        <div
          class="sl-markdown-content"
          style="margin-top: 0"
          set:html={tags}
        />
      ) : null}
    </>
  ) : null
}
