---
import type { Props } from "@astrojs/starlight/props";
import Default from "@astrojs/starlight/components/PageTitle.astro";

import getReadingTime from "reading-time";

import { getCreatedDate } from "@components/get-posts";

const readingTime = getReadingTime(Astro.props.entry.body);

const createdDate = getCreatedDate(Astro.props.entry);
---

<Default {...Astro.props} />

{
  // Only display the reading time & last updated when it is a doc
  Astro.props.entry.data.template === "doc" ? (
    <p>
      {readingTime.text}
      {createdDate ? ` • ${createdDate}` : ""}
    </p>
  ) : null
}
