---
import { getEntry } from "astro:content";
import { LinkCard } from "@astrojs/starlight/components";

import { getCreatedDate } from "@components/get-posts";

export interface Props {
  slug: string;
  includeDate?: boolean;
}

const { slug, includeDate } = Astro.props;

const entry = await getEntry(
  "docs",
  slug.startsWith("posts/") ? slug : "posts/" + slug,
);
if (entry == null) {
  throw new Error(`slug ${slug} isn’t valid`);
}

let description: string | undefined;
if (includeDate) {
  description = getCreatedDate(entry);
}

if (entry.data.description) {
  if (!description) {
    description = entry.data.description;
  } else {
    description = `<p>${description}</p><p>${entry.data.description}</p>`;
  }
}

const props: { href: string; title: string; description?: string } = {
  href: import.meta.env.BASE_URL + entry.slug,
  title: entry.data.title,
};
if (description) {
  props.description = description;
}
---

<div data-pagefind-ignore>
  <LinkCard {...props} />
</div>
