---
import Slides from "@layouts/Slides.astro";
---

<Slides>
  <section
    data-background="linear-gradient(135deg, #ff0078ff, #5000feff)"
    data-background-color="#ff0078ff"
    data-markdown
  >
    <textarea data-template> ## React Life-cycles Timings </textarea>
  </section>
  <section>Slide 1</section>
  <section>Slide 2</section>
</Slides>
